@keyframes show{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.show-titulo{
    width: 100%;
    resize: none;
    outline: none;
    border: none;
}

.modal-nota{
    width: 100%;
    height: 100%;
    pointer-events: none;

}
.button-delete{
    border-radius: 100%;
    display: none;
    margin-left: 100%;
    transition: 2s;
    animation-name: show;
    animation-duration: 1s;
    margin-bottom: -20px;
}